<div class="row">
    <div class="col-xs-12">
        <table class="table ui-table">
            <thead class="">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Dharmesh Joshi</td>
                <td>dharmesh.joshi@mail.com</td>
                <td>9067475509</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Rahul Chavda</td>
                <td>rahul.chavda@mail.com</td>
                <td>9879877895</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Mit Maheshwari</td>
                <td>mit.maheshwari@mail.com</td>
                <td>9878940108</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>